@import "lib/lesshat";

@react-enter:             ~"enter";
@react-enter-active:      ~"enter-active";
@react-leave:             ~"leave";
@react-leave-active:      ~"leave-active";

.createTransitions(@name; @enter: {}; @enter-active: {}; @leave: {}; @leave-active: {}) {
  @transitions:
    "" @duration-normal,
    "fast" @duration-fast,
    "slow" @duration-slow;

  .for(@transitions); .-each(@transition) {
    @name: extract(@transition, 1);
    @duration: extract(@transition, 2);

    .fmReactTransition(@name; @enter; @enter-active; @leave; @leave-active);
  }
}

.fmReactTransition(@name; @enter: {}; @enter-active: {}; @leave: {}; @leave-active: {}) {

  .define-transition-name();

  .define-transition-name() when (@name = "") {
    @transition-name: "";
  }

  .define-transition-name() when not (@name = "") {
    @transition-name: ~"@{name}-";
  }

  @enter-selector:          ~"@{transition-name}@{react-enter}";
  @enter-active-selector:   ~"@{transition-name}@{react-enter-active}";
  @leave-selector:          ~"@{transition-name}@{react-leave}";
  @leave-active-selector:   ~"@{transition-name}@{react-leave-active}";

  &-@{enter-selector} {
    @enter();
  }

  &-@{enter-selector}&-@{enter-active-selector} {
    @enter-active();
  }

  &-@{leave-selector} {
    @leave();
  }

  &-@{leave-selector}&-@{leave-active-selector} {
    @leave-active();
  }
}
