@import "lib/for";
@import "lib/lesshat";
@import "fm-mixins";

@fast: 200;
@slow: 600;
@normal: 400;

@duration-fast: (@fast / 1000);
@duration-slow: (@slow / 1000);
@duration-normal: (@normal / 1000);

.transition-none {
  @leave: {
    opacity: 1;
  };

  @enter: {
    opacity: 0.01;
  };

  @enter-active: {
    opacity: 1;
    transition: opacity 0.01s linear;
  };

  @leave-active: {
    opacity: 0.01;
    transition: opacity 0.01s linear;
  };

  .createTransitions(self; @enter; @enter-active; @leave; @leave-active;);
}

.transition-fade {
  @leave: {
    opacity: 1;
  };

  @enter: {
    opacity: 0.01;
  };

  @enter-active: {
    opacity: 1;
    transition: opacity ~"@{duration}s" linear;
  };

  @leave-active: {
    opacity: 0.01;
    transition: opacity ~"@{duration}s" linear;
  };

  .createTransitions(self; @enter; @enter-active; @leave; @leave-active);
}


.transition-open-close-slide-menu {
  @leave: {
    transform: translateY(0px);
  };

  @leave-active: {
    transform: translateY(490px);
    transition: transform ~"@{duration}s" ease-out;
  };

  @enter: {
    transform: translateY(490px);
  };

  @enter-active: {
    transform: translateY(0px);
    transition: transform ~"@{duration}s" ease-out;
  };

  .createTransitions(self; @enter; @enter-active; @leave; @leave-active);
}

.transition-slide-to-from-bottom {
  @leave: {
    transform: translateY(0px);
  };

  @enter: {
   transform: translateY(300px);
  };

  @enter-active: {
    transform: translateY(0px);
    transition: transform ~"@{duration}s" ease-out;
  };

  @leave-active: {
    transform: translateY(300px);
    transition: transform ~"@{duration}s" ease-in;
  };

  .createTransitions(self; @enter; @enter-active; @leave; @leave-active);
}

.transition-slide-to-from-top {
  @leave: {
    transform: translateY(0px);
  };

  @enter: {
    transform: translateY(-300px);
  };

  @enter-active: {
    transform: translateY(0px);
    transition: transform ~"@{duration}s" ease-out;
  };

  @leave-active: {
    transform: translateY(-300px);
    transition: transform ~"@{duration}s" ease-in;
  };

  .createTransitions(self; @enter; @enter-active; @leave; @leave-active);
}

.transition-slide-to-from-left {
  @leave: {
    transform: translateX(0px);
  };

  @enter: {
    transform: translateX(-1000px);
  };

  @enter-active: {
    transform: translateX(0px);
    transition: transform ~"@{duration}s" ease-out;
  };

  @leave-active: {
    transform: translateX(-1000px);
    transition: transform ~"@{duration}s" ease-in;
  };

  .createTransitions(self; @enter; @enter-active; @leave; @leave-active);
}

.transition-fade-with-delay-on-active-fast,
.transition-subtitles {
  @leave: {
    opacity: 1;
  };

  @enter: {
    opacity: 0.01;
  };

  @enter-active: {
    opacity: 1;
    transition: opacity ~"@{duration}s" linear;
    transition-delay: 0.5s;
  };

  @leave-active: {
    opacity: 0.01;
    transition: opacity ~"@{duration}s" linear;
    transition-delay: none;
  };

  .createTransitions(self; @enter; @enter-active; @leave; @leave-active);
}


.fmReactTransition("", @leave: {}, @enter: {}, @enter-active: {}, @leave-active: {});
