.quiz-question {
  .question-text {

    animation-name: slow-grow;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .question-text-wrapper {
    opacity: 0;
    position: absolute;
    bottom: 300px;
    width: 4000px;
    left: -2000px + @content-width / 2;
    font-size: 26px;
    text-align: center;
    opacity: 1;
  }

  .question-text-wrapper.going-out {
    animation: question-fly-out 0.5s ease-in;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
}

@keyframes slow-grow {
  0% {
    transform: translateZ(-1000px);
    opacity: 0;
  }
  5% {
    transform: translateZ(-10px);
    opacity: 1;
  }
  100% {
    transform: translateZ(20px);
    opacity: 1;

  }
}

@keyframes question-fly-out {
  from {opacity: 1;}
  to {
    opacity: 0;
    //transform: translateZ(200px);
    font-size: 150px;
    bottom: 600px;
  }
}
