/* .quiz-score {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: inherit;
  width: 100%;
  align-items: center;
} */

@transitionDuration: 3s;

.score-box {
  display: flex;
  align-items:flex-end;
  color: @project-highlight-color-2;
  height: 100px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 15px;

  h2 {
    margin: 0;
    font-size: 30px;
    transition-property: font-size,margin;
    transition-duration: @transitionDuration;
  }
}


.score-pillar-wrapper {
  // height is set programmatically
  //border: 1px solid rgba(255,255,255, .5);
  //border-bottom-width: 0px;
  width: 25px;
  display: inline-flex;
  align-items: flex-end;
  background-color: white;
  height: 70px;
  transform-origin: bottom;

  transition-property: width, transform;
  transition-duration: @transitionDuration;
}

.score-pillar {
  width: 100%;
  // height is set programmatically
  background-color: @project-highlight-color-2;
}

.score-box-left {
  position: absolute;
  right: @content-width / 2 + 2;
  display: inline-flex;
  align-items: flex-end;
  direction: rtl;

  transition: margin @transitionDuration;

  .score-pillar {
    transform-origin: 100% 100%;
  }

  &.big {
    margin: 0px 10px;
    font-size: 30px;
    .score-left, .score-right {margin: 20px 20px;}
    h2 {font-size: 200px; margin-bottom: -20px;}

    .score-pillar-wrapper {
      transform: scaleY(6);
      width: 50px;
    }
  }
}

.score-box-right {
  position: absolute;
  left: @content-width / 2 + 2;
  display: inline-flex;
  align-items: flex-end;
  direction: ltr;
  .score-pillar {
    transform-origin: 0% 100%;
  }
  &.big {
    &:extend(.score-box-left.big all);
  }
}


.score-left, .score-right {
  margin: 5px 5px;
  transition: margin @transitionDuration;
  div {
    transition: font-size @transitionDuration;
  }
}
