.space-fly-through {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  // background-image: url("http://planetearthinstitute.org.uk/wp-content/uploads/2016/04/unnamed.jpg");
  background-image: linear-gradient( 0deg, rgb(0, 61, 78), rgb(0, 101, 128), rgb(0, 61, 78));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  perspective: 100px;
  perspective-origin: 50% 50%;
}

.particle {
  position: absolute;
   opacity: 0;
   background-color: rgba(255, 255, 255, 0.15);
   animation: fly-past;
   animation-timing-function: linear;
   animation-duration: 1s;
   animation-iteration-count: infinite;
   z-index: -100;
}

@keyframes fly-past {
  from {transform: translateZ(-500px) rotate3d(1,0,0, 90deg); opacity: 0; }
  to {transform: translateZ(100px) rotate3d(1,0,0, 90deg); opacity: 1;}
}
