.chapter-heading {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.next-button {
  background-color: @funkis-light-blue;
  padding: 8px;
}

.next-button:hover {
  background-color: black;
  color: white;
}
