<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{%= name %}</title>

    <script src="src/lib/SCORM_API_wrapper.js"></script>
<script src="src/lib/modernizr.custom.js"></script>
<script src="src/lib/preloadjs-0.6.2.min.js"></script>
<script src="src/lib/soundjs-0.6.2.min.js"></script>

<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" id="viewport">
<link rel="apple-touch-icon" sizes="152x152" href="icon.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- build:template

    <link rel="stylesheet" href="styles.css" />

/build -->
<script type="text/javascript">
// Legacy FMLoader uses TweenMax to animate. It has been updated
// but to ensure compatibility we add an empty object to window.
window.TweenMax = {
  to: function() {
    console.error(
      "Warning: TweenMax has been removed fom 'funkis-base' because of size and performance reasons. Please use some other means of animation. CSS Animations, React Motion or something else."
    );
  },
  killTweensOf: function() {},
};
</script>

    <!-- build:template

    <script type="text/javascript">
    console.log("Brought to you by Funkis Multimedia AB: http://funkismultimedia.se");
productionMode = true;
</script>

    /build -->


  </head>
  <body onload="pipwerks.SCORM.init()" onbeforeunload="reportSessionTimeAndFinish()">
    <div id="app-container"></div>
    <!-- build:template
    <script type="text/javascript" src="script.js"></script>
    /build -->
    <!-- build:remove -->
    <script type="text/javascript" src="./bundle.js"></script>
    <!-- /build -->
  </body>
</html>
